.Button {
  background: linear-gradient(180deg, teal, rgba(0, 177, 201, 0.3));
  color: black;
  border: 1px solid yellowgreen;
  border-radius: 7px;
  padding: 2px 5px;
  height: 36px;
}

.Button.active {
  background: linear-gradient(180deg, greenyellow, rgba(0, 177, 201, 0.3));
}
