.Episode {
  display: grid;
  justify-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}

.Episode > img {
  width: 230px;
  height: auto;
}

.Episode > h2 {
  font-weight: 300;
}

.Episode__list {
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.Episode__list > li {
  background-color: yellowgreen;
  padding: 2px 5px;
  border-radius: 3px;
}
