.Card {
  display: grid;
  justify-items: center;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Card__heading {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 10px;
  letter-spacing: 0.02rem;
}

.Card__image {
  height: auto;
  width: 270px;
}

.Card__bookmark {
  height: 36px;
  width: 64px;
  position: absolute;
  right: -24px;
  top: 220px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 15px 0 0 15px;
}

.Card__bookmark.active {
  background: yellowgreen;
  border: 2px solid #0293a6;
}

.Card__copytext {
  padding: 10px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 0.9rem;
}
