.Card {
  position: relative;
  display: grid;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, teal, white 28%);
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 304px;
  height: 426px;
}

.Card__heading {
  color: white;
}

.Card__bookmark {
  position: absolute;
  top: 18px;
  right: -28px;
  padding: 0;
  width: 48px;
  border: 16px solid lightgrey;
  border-right: 16px solid transparent;
  background: none;
}

.Card__bookmark--active {
  border: 16px solid firebrick;
  border-right: 16px solid transparent;
  background: none;
}
