.App {
  display: grid;
  justify-items: center;
  gap: 20px;
  background: linear-gradient(
    90deg,
    greenyellow -15%,
    teal,
    #222,
    #111,
    #222,
    teal,
    greenyellow 115%
  );
}
